---
layout: default
title: "Home"
---

{% include test.md %}

<article>
  Roman Pflugfelder is Scientist at the <a href="https://www.ait.ac.at">AIT Austrian Institute of Technology</a> and lecturer at TU Wien.
  He received in 2002 a MSc degree in Informatics at TU Wien and in 2008 a PhD in Telematics at the <a href="https://www.tugraz.at/institute/icg/home/">TU Graz,
  Austria</a>. In 2001, he was academic visitor at the <a href="https://staff.itee.uq.edu.au/lovell/">Queensland University of Technology, Australia</a>.
  His research focuses on visual motion analysis, tracking, recognition, and visual learning applied to automated video surveillance. He aims to combine sciences
  and theories in novel ways to gain theoretical insights into learning and inference in complex dynamical systems and to develop practical algorithms and
  computing systems. Roman contributed with 60+ papers and patents to research fields such as camera calibration, object detection, object tracking, event
  recognition where he received awareness of media as well as several awards and grants for his scientific achievements. Roman is also senior project manager
  at AIT where he has led cooperations among universities, companies and governmental institutions. Roman co-organised the Visual Object Tracking Challenges
  VOT'13-14 and VOT'16-21 and was program chair of AVSS'15. Currently he is steering committee member of AVSS. He is regular reviewer for major computer vision
  conferences and journals.
</article>

<!--
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} )
-->
